.footer-container {
    width: 100%;
    background-color: #f0f0f0; /* Change to your desired background color */
    padding: 20px 0; /* Adjust padding as needed */
    text-align: center; /* Center align the content */
}

.footer-section {
    max-width: 1200px; /* Adjust the maximum width of the footer content */
    margin: 0 auto; /* Center the footer content */
}

.footer-section p {
    margin: 0;
    font-size: 2rem;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
    .footer-section p{
        padding: 0 20px; 
        font-size: 1rem;
    }
}
