.footer-container {
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
}

.footer-section {
    max-width: 1200px; 
    margin: 0 auto;
}

.footer-section p {
    margin: 0;
    font-size: 2rem;
}

@media (max-width: 768px) {
    .footer-section p{
        padding: 0 20px; 
        font-size: 1rem;
    }
}
